*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    margin: 122px;
    padding: 12px;
}
h2{

    padding: 12px;
}
label{
    text-size-adjust: 12px;
}

button{
    text-align: center;
    margin: 18px;
    width: 72px;
    height: 32px;
}