:root{
    --primary-color:rgb(255, 90, 255);
    --text-color:white;
    --secondary-color:rgb(254, 218, 254);
}
body{
    background-color: var(--secondary-color);
}
*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: var(--primary-color);
    padding: 11px 0;
}
ul li{
    list-style: none;
    display: inline;
    padding: 23px;
    font-weight: bold;
    color: var(--text-color);
}